body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-Gradient(to right, rgb(46, 255, 46), rgb(16, 61, 24))
}
.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0, 0,0.6);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}
fieldset{
    border: 3px solid rgb(17, 95, 22);
}
legend{
    border: 1px solid rgb(17, 95, 22);
    padding: 10px;
    text-align: center;
    background-color: rgb(17, 95, 22);
    border-radius: 8px;
}
.inputBox{
    position: relative
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: 20px;
    font-size: 12px;
    color:rgb(22, 84, 33)
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline:rgb(22, 84, 33);
}
#submit{
    background-image: linear-Gradient(to right,  rgb(33, 127, 50), rgb(33, 127, 50));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-Gradient(to right,  rgb(16, 61, 24), rgb(16, 61, 24));
}